.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.body {
  background-color: #22242A;
  height: 100vh;
}

.cell {
  height: 200px;
  width: 200px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #22242A;
}

.row {
  display: flex;
}

.board {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}