.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #22242A;
  height: 100vh;
  overflow: auto;
}

.cell {
  height: 180px;
  width: 180px;
  background-color: #22242A;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
  border: 0 solid #1B1E22;
  border-top: 25px solid #1B1E22;
  border-left: 25px solid #1B1E22;

}

.row {
  display: flex;
}

.board {
  margin: 0 auto;
  padding-top: 4vh;;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.last-cell {
  border-right: 25px solid #1B1E22;
}

.last-row {
  border-bottom: 25px solid #1B1E22;
}

.cell-x {
  background-image: url("./assets/X.png");
  background-size: 125px 125px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: not-allowed;
}

.cell-o {
  background-image: url("./assets/O.png");
  background-size: 125px 125px; 
  background-repeat: no-repeat;
  background-position: center;
  cursor: not-allowed;
}

.winner {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 48px;
  display: none;
  color: white;
}

.winner.show {
  display: block;
}