.cell-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.cells {
  height: 55px;
  width: 55px;
  border: none;
  font-size: 40px;
  text-align: center;
  background-color: #121213;
  color: white;
  text-transform: capitalize;
  font-family: 'Roboto Slab', serif;
}

.cells-green {
  background-color: #538D4E;
}

.cells-yellow {
  background-color: #B59F3B;
}

.cells-gray {
  background-color: #3A3A3C;
}