.wordle {
  height: 80vh;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 4rem;
}

.box {
  display: flex;
  height: 60px;
  width: 60px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 2px solid white;
}

.row {
  display: flex;
  flex-direction: column;
}

.cells {
  height: 55px;
  width: 55px;
  border: none;
}