.keyboard {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.char {
  width: 45px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #818384;
  font-family: 'Roboto Slab', serif;
  margin-right: 10px;
}

.yellow {
  background-color: yellow;
}

.items {
  padding: 10px;
  margin: 10px;
}